body{margin:0; overflow: hidden; font-family: 'Work Sans', sans-serif;}
:root {--red: #e84f4f; --white: #faf9f6;}

#navigation{width: 100%;}

#desktop{background: var(--red); margin-bottom: 10px; padding: 5px; display: flex; justify-content: space-between;}
#desktop .icon{font-size: 3rem;}
#desktop .menu{display: flex; flex-direction: row; font-size: 2rem; gap: 30px; align-items: center;}


#mobile{display: none; justify-content: space-between; height: 48px; font-weight: 600;}
#mobile .icon{line-height: 40px; margin-left: 5px; font-size: 1.5rem;}
#mobile .menu{position: absolute; top: -25%; width: 100%; background: #faf9f6; z-index: 99; border: 1px solid; display: flex; flex-direction: column; text-align: center; font-size: 1.2rem;}
#mobile .menu div {margin: 5px;}

#pageContainer{width: 100%;height: 100%;}
#pageContent{position: relative; margin: 0px auto; width: fit-content;}

#jake{position: relative; width: 480px;z-index: 2;}
#blackBox{background: black; position: absolute; top: 60%; left: 15%; width: 35%; height: 15%;}
#overflowBox{position: absolute; left: 120px; top: 453px; width: 105px; height: 1015px; overflow: hidden;}

#chili{position: absolute; top: -100%; width: 105px; z-index: 3; animation: drip 3s infinite; animation-timing-function: linear;
  -webkit-mask-image: url("../../assets/mask.svg");
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}

/*mobile styles*/
@media (max-width: 768px) {
  #appRoot{background: var(--red);}
  #jake{width: 280px;}
  #overflowBox{left: 71px; top: 265px;}
  #chili{width: 60px;}
  #desktop{display: none;}
  #mobile{display: flex;}
}


@keyframes drip {
  0% {
    top: -100%;
  }
  80%{
  top: 100%;
  }
  100% {
    top: 100%;
  }
}

.slideIn{
  animation: slideIn .25s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  from{
    top: -25%;
  }
  to{
    top:0%;
  }
}

.slideOut{
  animation: slideOut .25s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes slideOut {
  from{
    top: 0%;
  }
  to{
    top: -25%;
  }
}
